.booking-confirmation {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.booking-confirmation__header {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.booking-confirmation__image {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
}

.booking-confirmation__info {
  display: flex;
  flex-direction: column;
  align-items: start;
  height: 150px;
  padding: 10px 0;
}

.booking-confirmation__name,
.booking-confirmation__rating {
  margin: 0;
  font-size: 18px;
}

.booking-confirmation__trip-details,
.booking-confirmation__price-details,
.booking-confirmation__payment {
  width: 100%;
  margin-top: 20px;
  padding: 10px;
  background-color: var(--tg-theme-secondary-bg-color);
  border-radius: 5px;
}

.booking-confirmation__trip-details h2,
.booking-confirmation__price-details h2,
.booking-confirmation__payment h2 {
  margin: 0 0 10px;
  font-size: 22px;
}
