.venue-details {
  display: flex;
  flex-direction: column;
  padding: 20px;
  min-height: 100vh;
  background-color: var(--tg-theme-bg-color);
}

.venue-details__image {
  width: 100%;
  max-width: 400px;
  max-height: 200px;
  object-fit: cover;
  border-radius: 15px;
}

.venue-details__info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 20px 5px 0 5px;
}

.venue-details__name {
  font-size: 24px;
  font-weight: bold;
  color: var(--tg-theme-text-color);
}

.venue-details__amenities {
  display: flex;
  width: 100%;
  margin: 10px 0 0 0;
  box-sizing: border-box;
  white-space: nowrap;
  overflow-x: auto;
  cursor: grab;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.venue-details__amenities:active {
  cursor: grabbing;
}

.venue-details__amenities::-webkit-scrollbar {
  display: none;
  /*height: 8px;*/
}

.venue-details__amenity {
  display: inline-block;
  flex-shrink: 0;
  margin: 0 5px 0 0;
  padding: 3px 10px;
  white-space: nowrap;
  background-color: var(--tg-theme-secondary-bg-color);
  /*background-color: lightgrey;*/
  color: var(--tg-theme-text-color-secondary);
  border-radius: 10px;
}

.venue-details__metadata {
  margin: 5px 0 0 0;
  color: var(--tg-theme-text-color-secondary);
}

.venue-details__type,
.venue-details__rating,
.venue-details__price {
  font-weight: 300;
  /*font-weight: normal;*/
  margin: 0 3px 0 0;
  color: var(--tg-theme-text-color);
}

.venue-details__description {
  margin: 10px 0 0 0;
  color: var(--tg-theme-text-color);
}

.venue-details__booking {
  display: flex;
  flex-direction: column;
  margin: 5px 0 0 0;
  color: var(--th-theme-text-color-secondary);
}

.venue-details__label {
  display: block;
  margin: 5px 0 0 0;
}

.venue-details__input {
  padding: 2px;
  margin: 0 0 0 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-family: var(--default-font);
  outline: none;
  transition: border .2s;
}

.venue-details__input:focus {
  border: 1px solid var(--tg-theme-primary-color);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
