/* Header */
.venue-selection {
  padding: 20px;
  background-color: var(--tg-theme-secondary-bg-color);
}

.venue-selection__types {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
  padding: 10px 0;
  background-color: var(--tg-theme-bg-color);
  border-radius: 10px;
}

.venue-type {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  background-color: var(--tg-theme-btn-color);
  color: var(--tg-theme-text-color);
  padding: 10px 10px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  font-family: var(--default-font);
}

.venue-type.active {
  font-weight: bold;
}

.venue-type__icon {
  width: 50px;
  height: 50px;
  margin-bottom: 8px;
  cursor: pointer;
}

@media (max-width: 375px) {
  .venue-selection {
    padding: 10px;
  }

  .venue-selection__types {
    margin-bottom: 10px;
  }

  .venue-type__icon {
    width: 40px;
    height: 40px;
  }

  .venue-type {
    font-size: 12px;
    padding: 5px 5px;
  }
}

/* List of venue cards */
.venue-selection__list {
  /*display: flex;*/
  /*flex-direction: column;*/
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  width: 100%;
  list-style-type: none;
}

.venue {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 10px;
  overflow: hidden;
  background-color: var(--tg-theme-bg-color);
  padding: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.venue__link {
  text-decoration: none;
  color: inherit;
  display: block;
}

.venue__top {
  position: relative;
}

.venue__image {
  height: 120px;
  object-fit: cover;
  border-radius: 15px;
  display: block;
  width: 100%;
}

.venue__favorite-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 1.5rem;
  transition: color 0.3s;
}

.venue__favorite-btn:hover {
  color: red;
}

.venue__details {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.venue__name-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 10px 0 0 0;
}

.venue__metadata {
  display: flex;
  gap: 10px;
  align-items: center;
  color: var(--tg-theme-text-color-secondary);
}

.venue__details--name {
  color: var(--tg-theme-text-color);
  font-weight: bold;
  font-size: 20px;
}

.venue__details--price {
  color: var(--tg-theme-text-color);
  font-weight: bold;
}

.venue__details--type, .venue__details--rating {
  color: var(--tg-theme-hint-color);
  font-size: 16px;
  line-height: 1.5;
}

@media (max-width: 375px) {
  .venue__details--name {
    font-size: 16px;
  }

  .venue__details--price, .venue__details--type, .venue__details--rating {
    font-size: 12px;
  }

  .venue__favorite-btn {
    font-size: 1rem;
  }

  .venue__image {
    height: 100px;
  }

  .venue__link {
    padding: 5px;
  }
}

@media (min-width: 600px) {
  .venue-selection__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

/* Lottie animations */
.lottie-icon {
  background: transparent;
  border: none;
  cursor: pointer;
}

.lottie-icon__animation {
  display: block;
  width: 50px;
  height: 50px;
}
