.booking-confirmation__price-details {
  width: 100%;
  margin-top: 20px;
  padding: 10px;
  background-color: var(--tg-theme-secondary-bg-color);
  border-radius: 5px;
}

.booking-confirmation__price-details--header {
  margin: 0 0 10px;
  font-size: 22px;
}

.booking-confirmation__item, .booking-confirmation__item-hint {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.booking-confirmation__item-hint{
  color: var(--tg-theme-hint-color);
}

.booking-confirmation__item--button {
  background-color: var(--tg-theme-button-color);
  color: var(--tg-theme-button-text-color);
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  height: 30px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/*.booking-confirmation__price-normal {*/
/*  color: var(--tg-theme-hint-color);*/
/*}*/

.booking-confirmation__price-label {
  color: var(--tg-theme-text-color);
  font-weight: bold;
}

.booking-confirmation__price-value {
  color: var(--tg-theme-text-color);
}
